body {
    font-family: Arial, sans-serif;
    background-image: url('../assets/online-courses.webp');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-size: contain;
}

header {
    text-align: center;
    padding: 2rem 1rem 1rem;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.1rem;
    color: #555;
}

section {
    margin-top: 36% !important;
    max-width: 600px;
    background: #FFBF23;
    padding: 2rem;
    margin: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.title {
    margin-top: 0;
}

ul {
    padding-left: 1.2rem;
}

ul li {
    margin-bottom: 0.5rem;
}

.email-form {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
}
.email-form input[type="email"] {
    padding: 0.75rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #999;
    padding: 2rem 1rem;
}

.bio-links {
    display: flex;
    flex-direction: row;
    float: left;
}

.github, .linkedin, .medium {
    padding-right: 10%;
}

#email-subscribe-input {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

@media (max-width: 600px) {

    body {

    }

    header h1 {
        font-size: 1.5rem;
    }
    header p {
        font-size: 1rem;
    }
    section {
        padding: 1.5rem;
        margin: 1rem 0.5rem;
    }
    .email-form input[type="email"],
    .email-form button {
        font-size: 0.95rem;
        padding: 0.65rem;
    }
}