/**
*  Get started
**/

h3 {
	font-size: 26px;
}

h4 {
	font-size: 24px;
}

p, li {
	font-size: 18px;
	line-height: 28px;
}

.button-label {
	font-size: 20px;
}

.persona > img {
	width: 150px;
	height: 150px;
 	max-width: 200px;
    max-height: 200px;
	background: white;
	margin-top: 5%;
}

.persona {
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
}

.persona > p {
	margin: 1em;
}

.persona.active {
	border: 1px solid #666666;
	border-radius: 10px;
	box-shadow: 2px 2px;
}

.pick-persona {
	margin-bottom: 5%;
	display: flex;
}

.sub-section {
	padding: 2%
}

.roadmap > .row > h3 {
	margin: auto;
	width: 70%;
	padding-left: 5%;
}

.step-2-teams-step {
	margin-top: 5%;
	padding: 5%;
	background: #E8E6E6;
	border-radius: 10px;
}

.step-2-teams {
	margin-right: 5%;
}

.team-img-roadmap, .java-img-roadmap {
	margin-right: 5% !important
}

.novice-dev-img {
	margin-left: 5%;
}

.roadmap-team {
	margin-top: 5%;
	padding: 5%;
	display: none;
}

.img-roadmap {
	width: 30%;
	padding: inherit;
	margin:auto;
	display: block;
}

.roadmap-single {
	margin-top: 5%;
	padding: 5%;
	display: none;
}

/**
 * Recommendations
 **/
.recommendations {
	background: #FFBF23;
	border: 2px solid #666666;
	box-shadow: 1px 0 0 1px #705100;
	border-radius: 10px;
	padding: 2%;
}

.recommendation {
	background: white;
	border: 1px solid #666666;
	border-radius: 10px;
	padding: 3%;
	margin-top: 1em;
	display: flow-root;
}

.button {
	float: right;
	display: block;
}

.center {
	width: fit-content;
	float: unset;
	margin: 2% auto 0;
}

/**
 * Sample workshops
 **/
.sample-workshops {
	display: flex;
}

.sample-workshop {
	border: 2px solid #666666;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	width: 33%;
	box-shadow: 1px 0 0 1px #705100;
	background: #FFBF23;
	flex-basis: 100%;
}

.sample-workshop:hover {
	box-shadow: 4px 1px 3px #705100;
}

.sample-workshop.active {
	box-shadow: 3px -1px 0 #705100
}

.sample-workshop-title {
	font-weight: bolder;
	padding-left: 1em;
	padding-right: 1em;
}

.workshop > .black-button {
	margin-top: 3%;
}

.target {
	padding-left: 1.5em;
	padding-right: 1em;
}

.target-audience {
	padding-left: 2em;
	padding-right: 2em;
}

.sample-workshop-screen {
	border: 2px solid #666666;
	border-top: none;
	padding: 3%;
	border-radius: 0 0 10px 10px;
	background: #FFBF23;
	box-shadow: 1px 0 0 1px #705100;
}

.sample-workshop-header {
	background: #E8E6E6;
	padding: 1%;
	border-radius: 5px 5px 0 0;
}

.sample-workshop-details {
	background: white;
	padding: 4%;
	border-radius: 0 0 5px 5px;
}

.subtitle, .sub-point {
	list-style: none;
	margin-block-start: 0.2em;
}

.workshop-2, .workshop-3 {
	display: none;
}

#mlb2-19767908.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
	max-width: 600px !important;
	margin-top: 5%;
	border: 1px solid #666666;
	border-radius: 10px;
}

#mlb2-19767908.ml-form-embedContainer .ml-form-align-center {
	text-align: end;
}

.going-from-java-to-kotlin,  .kotlin-coroutine-mechanisms, .programming-android-with-kotlin {
	z-index: 15;
	height: 100%;
	top: 20%;
	position: relative;
}

@media (max-width: 800px) {
	.roadmap > .row {
		flex-direction: column;
	}

	.persona > h3 {
		text-align: center;
	}

	.persona > h4 {
		padding-left: 5%;
		padding-right: 5%;
		text-align: center;
	}

	.pick-persona {
		margin-bottom: 5%;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.persona {
		width: 100%;
  		padding-left: 0;
		padding-right: 0;
		height: 94% !important;
	}

	.novice-dev-img {
		margin-left: unset;
	}

	.img-roadmap {
		width: 100%;
		margin: auto !important;
		padding-top: 5%;
		padding-bottom: 5%;
	}

	.roadmap > .row > h3 {
		width: unset;
		margin-top: 1em;
		margin-bottom: 1em;
		padding-left: unset;
	}

	.roadmap-single, .roadmap-team {
		padding: unset;
	}

	.subsection {
		padding: unset;
	}

	.target-audience {
		text-align: center;
		padding-left: unset;
		padding-right: unset;
	}
}