/**
*  Get started
**/

h4 {
	font-size: 20px;
}

.persona > img {
	width: 150px;
	height: 150px;
 	max-width: 200px;
    max-height: 200px;
	background: white;
	margin-top: 5%;
}

.persona {
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
}

.persona > p {
	margin: 1em;
}

.persona.active {
	border: 1px solid #666666;
	border-radius: 10px;
	box-shadow: 2px 2px;
}

.quiz {
	margin-top: 10%;
	margin-bottom: 10%;
}

.pick-persona {
	margin-bottom: 5%;
	display: flex;
}

.roadmap-team {
	margin-top: 5%;
	padding: 5%;
	display: none;
}

.roadmap-single {
	margin-top: 5%;
	padding: 5%;
	display: none;
}

/**
 * Sample workshops
 **/
.sample-workshops {
	display: flex;
}

.sample-workshop {
	border: 1px solid #666666;
	border-radius: 10px;
	padding: 2%;
}

.sample-workshop-title {
	font-weight: bolder;
}

#mlb2-19767908.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
	max-width: 600px;
	margin-top: 5%;
	border: 1px solid #666666;
	border-radius: 10px;
}

@media (max-width: 800px) {
	.persona > h4 {
		padding-left: 5%;
		padding-right: 5%;
		text-align: center;
	}

	.pick-persona {
		margin-bottom: 5%;
		display: grid;
		grid-template-columns: 50% 50%;
	}

	.persona {
		width: 100%;
  		padding-left: 0%;
		padding-right: 0%;
	}
}