/* /styles/global.css */

/**
 * Website color palette: 
 * 
 *     Primaries
 *     - white #FFF
 * 
 *     Theme
 *      - yellow: #FFBF23
 *      - brown: #996E00
 *      - red: #FE393C
 *      - red2: #D74E09
 *      - pink: #FFD7EF
 *      - gray: #E8E6E6
 *      - blue: #91c2ed
 *      - dark blue: #6588a6
 *      - green: #14ae5c
 *      - dark green: #0c916a
 * 
 *     Secondary
 *      - emerald: #08875D
 *      - office-green: #157F1F
 * 
 * 
 * - other complimenting colors
 * **/

@font-face {
    font-family: 'Jost';
    src: url('../fonts/jost/Jost-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/jost/Jost-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('../fonts/jost/Jost-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Jost';
    src: url('../fonts/jost/Jost-Thin.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Jost-Medium';
    src: url('../fonts/jost/Jost-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

p {
    line-height: 24px;
}

/**
 * Header
 * */

.navigation {
    display: flex;
}

.divider {
    height: 10px;
    width: 100%;
    background-color: #000000;
}

.header-logo {
    display: inline-block;
}

.logo-img {
    min-width: 50px;
    min-height: 50px;
    width: 125px;
    max-width: 200px;
    max-height: 200px;
    background: transparent;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
}

.author-name {
    margin-top: -22px;
    font-size: 8px;
    padding-left: 22px;
    padding-bottom: 20px;
    color: black;
    text-decoration: none;
}

.header {
    top: 0;
    left: 0;
    position: sticky;
    background: white;
    z-index: 25;
    width: 100%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.header > a {
    display: block;
    min-width: 50px;
    min-height: 50px;
    width: 25%;
    height: 25%;
    max-width: 200px;
    max-height: 200px;
}

/** 
 * Nav Bar 
 **/

/* Add a black background color to the top navigation */
.topnav {
    margin-top: 26px;
    position: absolute;
    right: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active:hover {
    background-color: #5BAA73;
    color: black;
}

.topnav a:hover {
    background-color: #eeeeee;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav > .icon {
    position: relative;
    display: none;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: 14px;
}

/* CTA button */
.button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.button:hover {
    background-color: #0c916a;
}

/**
 * Junk Drawer
 */
.junk-drawer {
    background-color: #FFBF23;
}

.junk-text {
    background: transparent;
}

.img-junk {
    max-width: 500px;
}

.junk-links {
    display: flex;
    justify-content: space-between;
}

.link {
    color: black;
    text-decoration: underline;
    padding-top: 5%;
    cursor: pointer;
}

.junk-quick-links {
    display: flex;
    flex-direction: column;
}

.junk-follow-section {
    display: flex;
}

.junk-section {
    width: 100%;
}

@media (max-width: 600px) {
    .junk-section {
        padding-bottom: 10%;
    }
}

.junk-section > h3 {
    margin-top: 0;
}

.follow-subscribe {
    width: 100%;
}

.follow-socials {
    padding-left: 5%;
}

.follow-socials .link {
    margin-top: 10%;
    display: block;
}

#email-subscribe-input {
    background-color: #ffffff !important;
    color: #333333 !important;
    border-color: #cccccc;
    border-radius: 4px !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px !important;
    height: auto;
    line-height: 21px !important;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 10px !important;
    width: 100% !important;
    box-sizing: border-box !important;
    max-width: 100% !important;
}

.junk-logo {
    display: block;
    margin-left: 3%;
}

.junk-logo > .logo-img, .junk-logo > .author-name {
    padding-left: 0;
}

/**
 * Subscribe
 **/

.subscribe > input {
    border: 2px solid black;
    border-radius: 3px;
    background: #FFBF23;
    width: 97%;
}

#subscribe-screen {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

#page-under-construction {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 20;
}

#page-under-construction > .wip {
    width: fit-content;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 15;
    top: 20%;
    position: relative;
}


.subscribe-by-email {
    z-index: 15;
    height: 100%;
    top: 20%;
    position: relative;
}

.x-mark {
    z-index: 20;
    width: 32px;
    height: 32px;
    top: 20.2%;
    lefT: 71%;
    position: fixed;
}

/* Create three columns of equal width */
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background: #eee;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .li-header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price .desc {
    background-color: #666666;
    color: white;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    background: white;
    margin-top: 1px;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 20px;
}

@media (max-width: 800px) {
    /* Hide the links inside the navigation menu (except for logo/home) */
    .header-content {
        display: block;
        z-index: 25;
    }

    .nav-links {
        display: none;
    }

    .nav-links.selected {
        display: flex;
        flex-direction: column;
        margin-top: 14px;
    }


    /* Style the hamburger menu */

    .topnav {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .topnav-selected {
        background: #FFBF23;
        border-radius: 0 0 10px 10px;
        border: 1px solid black;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    }

    .topnav .icon {
        display: block;
    }

    .topnav a {
        text-align: left;
    }
}

