.online-course {
    margin: 0;
    flex: 1 1 350px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.online-course h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.works-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.online-course-logo {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: top;
    border-radius: 4px;
    margin-bottom: 15px;
}

.course-title {
    padding: 2%;
}

.course-go {
    position: relative;
    margin-top: auto;
}

.online-courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 0 auto 50px auto;
    padding: 20px;
    max-width: 1200px;
    box-sizing: border-box;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.waitlist-subscription {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 40px;
    text-align: left;
    margin: 40px auto;
    max-width: 800px;
    box-sizing: border-box;
}

.section-subtitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.waitlist-form {
    margin-top: 20px;
}

.waitlist-form form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#waitlist-email {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 300px;
    font-size: 16px;
}

.waitlist-button {
    cursor: pointer;
    border: none;
}

.desc-link {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-grow: 1;
}


@media (max-width: 600px) {
    .online-courses-container {
        gap: 30px;
        padding: 20px;
    }
    .online-course {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .waitlist-subscription {
        padding: 20px;
        margin: 20px 10px;
    }
    .waitlist-form form {
        flex-direction: column;
        align-items: center;
    }
    #waitlist-email {
        width: 100%;
        max-width: 100%;
    }
}