.logo-img {
	width: 145px;
}

.tier-image {
	width: 50%;
}

* {
	box-sizing: border-box;
}

.pricing {
	display: flex;
	justify-content: center;
}

.workshop-offering-section {
	display: inline-flex;
}

/* Custom slider */

.slidecontainer {
	display: flex;
	justify-self: right;
	margin-bottom: 16px;
}

label {
	margin-top: 3px;
	margin-right: 10px;
}

.private-workshops-row {
	width: 100%;
	padding-top: 10%
}

.private-workshops {
	margin-top: unset;
}

.date-slide-range {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.day-label {
	margin-block-start: .5em;
}

.two-days, .three-days {
	display: none;
}

.range-labels {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 90%;
	margin-left: 5%;
}

.slider {
	-webkit-appearance: none;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}

.button {
	margin-left: unset;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media (max-width: 600px) {
	.pricing {
		flex-direction: column;
	}

	.columns {
		width: 100%;
	}
}