h5 {
	font-size: 24px;
}

.online-courses-section {
	background: rgba(0, 0, 0, 0.08);
}

.products-section > a {
	text-decoration: none;
	color: black;
}

.tier-image {
	width: 25%;
	height: 25%;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 24px;
}

p {
	font-size: 16px;
	word-break: break-word;
}

.follow {
	margin-top: 5%;
	font-size: 20px;
}

.event-banner {
	background-color: black;
	color: white;
	padding: 5%;
	margin-left: -1em;
	margin-right: -1em;
	text-align: center;
}

li {
	font-weight: normal;
	margin-block-start: 1em;
	text-align: left;
}

.products {
	background: white;
}

.section-desc {
	font-size: 18px;
}

/**
 * Patreon
 **/

.tier {
	padding-left: 2%;
	padding-right: 2%;
	border: 1px solid #666666;
	border-radius: 10px;
	display: flex;
    flex-direction: column;
    width: 50%;
    text-decoration: none;
    color: black;
}

.patreon-overview {
	padding-bottom: 5%;
	display: flex;
	width: 100%;
	justify-content: center;
}

.tier:hover {
	border: 1px solid #666666;
	border-radius: 10px;
	box-shadow: 2px 2px;
}

.tier > h4 {
	font-size: 20px;
	margin-left: 1em;
	margin-right: 1em;
}

.tier > h5 {
	font-size: 16px;
	text-align: center;
}

.tier > .space-cowboy {
	width: 80%;
	padding-bottom: 10%;
}


.tier > img {
	width: 90%;
	margin: 0 auto;
}

.tier > p {
	text-align: left;
}

.offer-desc {
	font-weight: bold;
	font-size: 18px;
}

.offering {
	font-weight: bold;
	padding-left: 5%;
}

.offering-desc{
	padding-left: 10%;
}

ul {
	padding-left: 15%;
}

.description {
	display: flex;
	flex-direction: column;
}

.product-product {
	padding-bottom: 5%;
}

.product-sample {
	display: flex;
	width: 100%;
}
 
.notecard-sample {
	width: 60%;
	border: 2px solid #666666;
	border-radius: 10px;
	margin: auto;
}

.offering-section {
	position: relative;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	margin-bottom: 5%;
}

.offering-section-desc {
	padding: 5%;
	opacity: 0.7;
}

.offerings > .online-courses {
	margin-left: 5%;
	margin-right: 2%;
	padding-bottom: 20%;
}

/**
 * Workshops
 **/

.private-workshops {
	margin-top: 10%;
}

.benefit {
	padding: 3%;
}

.benefit > p {
	height: 40px;
}

.benefit > img {
    width: 100%;
    height: 100%;
    margin: auto;
}

#workshops {
	background: #FFBF23;
}

.offerings > .workshops {
	margin-right: 5%;
}

.workshop-offerings-section {
	width: 50%;
}

.product-features {
	margin-left: 5%;
}

.workshop-desc {
	font-size: 18px;
}

.workshop-calendar {
	float: left;
}

.instructions {
	margin-top: 5%
}

.workshop-instructions {
	margin-left: 5%;
}

.social-links > .bio-social-icon {
	display: flex;
}

.bio-social-icon > a > img {
	width: 40px;
	height: 40px;
	padding: 2%;
}

.step {
	margin-bottom: 5%;
	display: flow-root;
}

.step-title {
	font-size: 22px;
	font-weight: 600;
}

.step-desc {
	font-size: 18px;
	margin-left: 5%;
}

.step2 {
	margin-left: auto;
}

.learn-more {
	margin-top: 25%;
	position: relative;
}

.sample-workshop-sample {
	border-radius: 10px;
	border: 1px solid black;
	padding: 3%;
	background: white;
	margin-bottom: 3%;
}

.offerings-popup {
	margin-right: 5%;
}

.upcoming-workshops-calendar {
	border: 2px solid #666;
	border-radius: 10px;
	background: white;
	margin: auto;
	box-shadow: 2px 0 0 0 #705100;
	overflow: auto;
	width: 340px;
}

.zebra-scrollable {
	width: 600px;
	display: flex;
	margin: 5% 2% 2%;
}

.calendar-event {
	border-radius: 10px;
	border: 1px solid black;
	padding: 3%;
	width: 200px;
	height: 260px;
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
	margin-right: 1%;
}

.calendar-event:hover {
	box-shadow: 2px 2px;
}

.calendar-date, .calendar-event-location {
	text-align: center
}

.calendar-event-button {
	background-color: #FFBF23;
	border-radius: 3px;
	color: black;
	font-family:  "Space Grotesk", sans-serif;
	font-weight: 300;
	text-align: center;
	padding: 10px 10%;
	width: auto;
}

.not-ready {
	opacity: 0.2;
}

.event-end {
	background: rgba(0, 0, 0, 0.08);
	width: 200px;
}

.sample-workshop-title {
	font-size: 20px;
}

.team-persona {
	border-radius: 50%;
	width: 30%;
	height: 30%;
}

/**
 * Pricing table
 */

table {
	border: 1px solid black;
	border-radius: 4px;
	background: white;
}

td {
	vertical-align: baseline;
	border: 1px solid black;
	width: auto;
	padding: 6px;
}

.pricing-title {
	text-align: center;
}

.button {
	margin-left: 5%;
	display: inline-block;
}

/**
 * Work in Progress
 */

.under-construction {
	opacity: 1.0;
	position: absolute;
	height: auto;
	border: transparent;
	background: transparent;
	text-align: center;
}

.wip {
	width: auto;
	position: unset;
}

.wip-sign > p {
	padding-left: 5%;
	padding-right: 5%;
}

/**
 * For media max-width: 600px
 **/
@media (max-width: 600px) {
	.benefit > p {
    	height: unset;
	}


	.benefit > img {
    	width: 100% !important;
    	height: 100% !important;
	}

	.workshop-offering-section {
		width: 100%;
	}

	.offerings-popup {
		margin-right: unset;
	}

	.patreon-overview, .workshop-offerings {
		flex-direction: column;
	}

	.tier-image {
		width: 100%;
		padding-bottom: 10%;
		padding-left: 0%;
		padding-right: 0%;
	}

	.tier {
		width: fit-content;
		padding-bottom: 10%;
	}

	.offer-desc {
		padding-left: 5%;
		padding-right: 5%;
	}

	.product-features {
		margin-left: unset;
	}

	.columns {
		width: 100%;
	}

	.team-persona {
		width: 50%;
		height: 50%;
		margin: auto;
	}
}